html,body {
    background-color: rgb(250, 245, 245);
}
body {
    color:rgb(1, 8, 16);
}

body {margin:0}

.icon-bar {
  width: 90px;
  background-color: rgb(10, 0, 0);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
}

.icon-bar a:hover {
  background-color: rgb(6, 0, 0);
}

.active {
  background-color: #f8f6f6ab;
}

#img{
    position: relative;
    top:-10px;
    }